<a href="https://colab.research.google.com/github/sias01/maternal_health_risk/blob/main/mat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
import sklearn


df  = pd.read_csv('/content/sample_data/Maternal Health Risk Data Set.csv')
df.info

<bound method DataFrame.info of       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86  high risk
1      35         140           90  13.0      98.0         70  high risk
2      29          90           70   8.0     100.0         80  high risk
3      30         140           85   7.0      98.0         70  high risk
4      35         120           60   6.1      98.0         76   low risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80  high risk
1010   55         120           90  18.0      98.0         60  high risk
1011   35          85           60  19.0      98.0         86  high risk
1012   43         120           90  18.0      98.0         70  high risk
1013   32         120           65   6.0     101.0         76   mid risk

[1014 rows x 7 columns]>

In [ ]:
df.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [ ]:
df['RiskLevel'].head()

0    high risk
1    high risk
2    high risk
3    high risk
4     low risk
Name: RiskLevel, dtype: object

In [ ]:
df = df.replace({'RiskLevel':{'low risk':0, 'mid risk':1 , 'high risk':2}})

In [ ]:
df.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86          2
1   35         140           90  13.0      98.0         70          2
2   29          90           70   8.0     100.0         80          2
3   30         140           85   7.0      98.0         70          2
4   35         120           60   6.1      98.0         76          0

In [ ]:
from sklearn.model_selection import train_test_split
X = df.values[:,0:6]
y = df.values[:,6]

from sklearn import datasets
import matplotlib.pyplot as plt


#X, y = sklearn.datasets.make_classification(n_samples=1000, n_features=6, n_redundant=0, 
                           #n_informative=2, random_state=7, n_clusters_per_class=1)
#plt.plot(X, y)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=100,shuffle=True)

from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, max_features="auto", random_state=44)
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=44)

In [ ]:
predictions = rf_model.predict(X_test)
predictions

array([1., 0., 1., 0., 2., 2., 2., 0., 0., 1., 0., 2., 0., 0., 1., 0., 0.,
       1., 0., 1., 2., 0., 0., 2., 1., 1., 2., 0., 0., 0., 1., 1., 2., 0.,
       0., 2., 0., 0., 0., 0., 0., 2., 1., 0., 0., 2., 0., 0., 1., 0., 0.,
       0., 2., 2., 0., 1., 1., 0., 2., 2., 0., 0., 2., 2., 1., 0., 0., 1.,
       2., 1., 2., 1., 2., 1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       1., 0., 1., 1., 2., 2., 0., 2., 2., 2., 2., 0., 0., 0., 0., 0., 2.])

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=predictions

accuracy = sklearn.metrics.accuracy_score(y_test, predictions)
accuracy

0.9019607843137255